<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>

<body>
    <section>
        <div style="margin-top: 15%;" class="container">
            <div class="row">

                <div class="col-md-6 offset-md-3">

                    <div class="card my-3">

                        <div class="card-body">

                            <h3 class="mb-3 text-center">Forget Password</h3>

                            <form th:action="@{/forget-password}" method="POST">

                                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                                    <p class="text-center" th:text="${session.message.content}"></p>
                                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                                </div>

                                <!-- email field -->
                                <div class="form-group">
                                    <label for="email">Enter your Email</label><br>
                                    <input name="to" type="email" class="form-control" placeholder="enter your email">
                                </div>

                                <!-- password field

                                <div class="form-group">
                                    <label for="password">Enter your new password</label><br>
                                    <input name="newPassword" type="password" class="form-control" placeholder="enter new password">
                                </div> -->



                                <div class="container text-center">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-warning">Reset</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>





    </section>
</body>

</html>