<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<!-- xmlns:th="http://www.thymeleaf.org"  -->
<!-- th:replace="base::layout(~{::section})" -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <section class="banner d-flex justify-content-center align-items-center">

        <div class="text-center">
            <h1>online Learning</h1>
            <p>this website is best for all online learner.and we provide free and paid course. all course teach in detailes. and cover all branch course.
            </p>
            <button class="btn btn-success btn-lg">Get Start</button>

        </div>

    </section>
</body>

</html>