<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<!-- xmlns:th="http://www.thymeleaf.org"  -->
<!-- th:replace="base::layout(~{::section})" -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Home Page</title>
</head>

<body>
    <section>

        <div class="text-center">

            <h1>online Learning</h1>


            <div class="divider"></div>
            <div class="row design">
                <div th:each=" e , c : ${addcourse}">
                    <div class="col-md-4" th:with="f=(${c.count} % 3)">
                        <div class="card cards" th:if="${f==0}">

                            <img class="my_profile_picture" th:src="@{'/image/'+${e.image}}">
                            <!-- th:src="@{'/image/'+${e.image}}" -->
                            <div class="card-body">
                                <h5 class="card-title" th:text="${e.coursename}">Course name</h5>
                                <h5 th:text="${'Course price : '+e.price}" class="card-text">Price</h5>
                                <a href="#" class="btn btn-outline-primary" th:href="@{'/user/course-detail/'+${e.aid}}">Buy Course</a>
                            </div>

                        </div>
                    </div>
                    <!--th:with="isEven=${prodStat.count % 2 == 0}"-->
                    <!-- th:with="isEven=(${prodStat.count} % 2 == 0)" -->
                    <!-- th:if="(${c}%4==0)" -->
                    <div class="col-md-4" th:with="f=(${c.count} % 3)">
                        <div class="card cards" th:if="(${f}==1)">

                            <img class="my_profile_picture" th:src="@{'/image/'+${e.image}}">
                            <!-- th:src="@{'/image/'+${e.image}}" -->
                            <div class="card-body">
                                <h5 class="card-title" th:text="${e.coursename}">Course name</h5>
                                <h5 th:text="${'Course price : '+e.price}" class="card-text">Price</h5>
                                <a href="#" class="btn btn-outline-primary" th:href="@{'/user/course-detail/'+${e.aid}}">Buy Course</a>

                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-md-4" th:with="f=(${c.count} % 3)">
                        <div class="card cards" th:if="(${f}==2)">

                            <img class="my_profile_picture" th:src="@{'/image/'+${e.image}}">
                            <!-- th:src="@{'/image/'+${e.image}}" -->
                            <div class="card-body">
                                <h5 class="card-title" th:text="${e.coursename}">Course name</h5>
                                <h5 th:text="${'Course price : '+e.price}" class="card-text">Price</h5>
                                <a href="#" class="btn btn-outline-primary" th:href="@{'/user/course-detail/'+${e.aid}}">Buy Course</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>



        </div>

    </section>
</body>

</html>